.forgot-password-text-sub {
   
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: center;

color: #141414;
margin-left: 100px;
}



.cancel-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
  

    text-align: left;
    /* margin-left: 12%; */
    color: #141414;
}






/* @media screen and (min-device-width: 425px)  and (max-device-width: 700px) {

    .cancel-text {
       
        margin-left: 40%;
        
    }

} */


@media screen and (min-device-width: 375px)  and (max-device-width: 420px) {
    /* .cancel-text {
       
        margin-left: 40%;
        
    } */
    .welcome-text {
        font-size: 40px;

    }
}

@media screen and (min-device-width: 320px)  and (max-device-width: 360px) {

    /* .cancel-text {
       
        margin-left: 40%;
        
    } */
    .forgot-password-text-sub {
       
        font-size: 12px;
        margin-left: 10px;
    }
}